ion-card{
    padding: 10px;
    p{
        margin: 0px !important;
        font-weight: 600;
    }
}

ion-button[color="primary"]{
    width: min-content;
    display: block;
    margin: 10px auto;
}

