.flex-JustifyCenter-alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-JustifyCenter-alignCenter-flexColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}