<ion-header>
  <div class="header">
    <div class="back">
      <img src="assets/icon/headerNagivation.png" alt="">
    </div>
    <div class="text-header">Chek your mail</div>
  </div>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-center align-items-center flex-column px-4">
    <div class="box-outer py-5">
      <img src="assets/illustrations/emailVerification.png" alt="">
    </div>
    <div class="Nunito400 fs-16 w-75 pb-5 text-center">we sent a password resent link to your email</div>
    
    <div class="w-100">
      <button class="login-btn ">Open email</button>
    </div>
    <div class="Nunit0500 fs-14">Don’t recive the email? <span class="t-blue">Click to resend</span></div>
  </div>
</ion-content>
