<ion-header>
  <div class="header">
    <div class="back">
      <img src="assets/icon/headerNagivation.png" alt="">
    </div>
    <div class="text-header">Forget Password</div>
  </div>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-center align-items-center flex-column px-4">
    <div class="box-outer py-5">
      <img src="assets/illustrations/forgetPassword.png" alt="">
    </div>
    <div class="Nunito400 fs-16 w-75 pb-5 text-center">Don’t worry, we’ll send you reset instructions.</div>
    <div class="uk-margin w-100">
      <label for="" class="Fredoka400 fs-16">Email</label>
      <input class="input" type="text" placeholder="Enter your Email" >
    </div>
    <div class="w-100">
      <button class="login-btn ">Next</button>
    </div>
  </div>
</ion-content>
