<app-header title="Buyers Details"></app-header>
<ion-content>
  <div class="px-3 mt-3">
    <div class="card">
      <div class="p-3">
        <div class="d-flex">
          <div class="img-outer">
            <img
              src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-09/justin-bieber-te-220906-50b634.jpg"
              alt="">
          </div>
          <div class="w-100">
            <div class="w-100 ps-3">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="Nunito500">Esther Howard</div>
                <!-- <div uk-icon="icon: edit"></div> -->
              </div>
              <div class="d-flex justify-content-start align-items-center">
                <img class="" src="assets/icon/whatapp.png" alt="">
                <img class="ps-2" src="assets/icon/gmail.png" alt="">
                <img class="ps-2" src="assets/icon/phone.png" alt="">
              </div>
            </div>
            <div>
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="Nunito500 fs-13">
          <div>Email : <span class="t-grey">georgia.young@example.com</span></div>
          <div>Address : <span class="t-grey">xyz shop; near street B, Ludhiana.</span></div>
          <div>Phone : <span class="t-grey">+91 9374638201</span></div>

        </div>
      </div>
    </div>
  </div>
  <div class="Nunito600 fs-18 text-start p-3">Order History</div>
  <div class="border"></div>
  <div class="px-3 mt-3">
    <div class="Nunito600 fs-16 mt-3">Total Order Amount : <span>₹ 1,34,107</span></div>
    <app-sales-card></app-sales-card>
    <app-sales-card></app-sales-card>
    <app-sales-card></app-sales-card>

    
  </div>



</ion-content>