
<div class="css03">
  <h4 style="padding-left: 4%">Order History</h4>
<div class="css04">
<div class="row cart-product bg-white">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a>
      <img
        src="https://m.media-amazon.com/images/I/61ba09LAKUS._SX300_SY300_QL70_ML2_.jpg"
        class="cart-image"
      />
    </a>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <p>
      <b
        ><a class="product-name"
          >Micro silkfiber Micro silkfiber Micro silkfiber
        </a></b
      >
    </p>
    <p class="css05">
      <a class="quantity">
         Quantity: 30
      </a>
      <a
        class="paid"
        >
        Paid
      </a>
    </p>
  </div>
</div>

<div class="row cart-product bg-white">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a>
      <img
        src="https://m.media-amazon.com/images/I/61ba09LAKUS._SX300_SY300_QL70_ML2_.jpg"
        class="cart-image"
      />
    </a>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <p>
      <b
        ><a class="product-name"
          >Micro silkfiber Micro silkfiber Micro silkfiber
        </a></b
      >
    </p>
    <p class="css05">
      <a class="quantity">
         Quantity: 30
      </a>
      <a
        class="unpaid"
        >
        Unpaid
      </a>
    </p>
  </div>
</div>
</div>
</div>
