
.card {
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 20px;
    width: 100%;

    .img-outer {
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

}