<div>
  <div class="css03">
  <img style="width: 25px;" src="../../assets/images/left-arrow.png" alt="">
  <h2 class="header">Product Details</h2>
  <img style="width: 25px;" src="../../assets/images/shopping-cart.png" alt="">
  </div>
<div class="card">
  <img
    src="https://i.pinimg.com/originals/e0/2d/06/e02d06a246e95aef5374649acd4bdad1.jpg"
    alt="Denim Jeans"
    style="width: 100%; border-radius: 20px"
  />
  <h1>Carpet Texture Pack (12380) | Textures | Design Bundles</h1>
  <p class="price">Rs 5000</p>
  <p>Product Code : 3250444</p>
  <p>Created Date : 02 Oct 2022</p>
  <div class="css01">
  <div class="css02">
    <a style="margin-right: 8px" class="plus-icon quntity-icon">
      <img src="../../assets/images/minus-sign.png" alt="">
    </a>

    <input type="text" name="quantity" value="2" class="quntity-value" disabled />

    <a style="margin-left: 8px" class="minus-icon quntity-icon">
      <img src="../../assets/images/plus.png" alt="">
      </a>
  </div>
  <p style="display: inline;padding-left: 6%;"><button>Add to Cart</button></p>
  </div>
</div>
</div>
