<app-header title="Product Details"></app-header>
<ion-content>
  <div>
    <div class="img-outer mx-4 mt-4" *ngIf="currentStockData?.img">
      <img [src]="currentStockData?.img" alt="">
    </div>
    
    <div class="px-4">
      <h2 class="Nunito500 py-2">{{currentStockData?.name}}</h2>
      <h3 class="Nunito700 t-blue">Rs {{currentStockData?.price}}</h3>
      <h3 *ngIf="dataProvider.purchaseProductId">ID: {{dataProvider.purchaseProductId}}</h3>
    </div>
    <div class="Nunito500 fs-13 py-3 px-4">
      <div>Product Code <span class="Nunito700">{{currentStockData?.id}}</span></div>
      <div>Created Date <span class="Nunito700">{{currentStockData?.date.toDate() | date}}</span></div>
    </div>
    <div class="border"></div>
    <div class="px-4 py-3 d-flex justify-content-evenly align-items-center ">
      <button class="Nunito600 " routerLink="../../edit-stock/{{stockId}}"><span uk-icon="icon: file-edit"></span> Edit
        Product</button>
    </div>
    <div class="border"></div>
    <ion-list>
      <ion-item *ngFor="let key of dataKeys">
        <ion-label>{{key | titlecase}}</ion-label>
        <ion-label *ngIf="key.toLowerCase() !='date' && key.toLowerCase() !='warehouse'" color="primary">{{currentStockData[key]}}</ion-label>
        <ion-label *ngIf="key.toLowerCase() =='date'" color="primary">{{currentStockData[key].toDate() | date}}</ion-label>
        <ion-label *ngIf="key.toLowerCase() =='warehouse'" color="primary">{{currentStockData[key].name | titlecase}}</ion-label>
      </ion-item>
    </ion-list>
    <div class="px-4 pt-4">
      <ion-button *ngIf="dataProvider.purchaseProductId && dataProvider.purchaseId" (click)="saleModalOpen=true" expand="block" fill="solid">
        Sell Scanned Item
      </ion-button>
      <ion-button *ngIf="dataProvider.purchaseProductId && dataProvider.purchaseId" (click)="transferModalOpen = true" expand="block" fill="solid">
        Transfer Scanned Item
      </ion-button>
      <ion-button routerLink="../../billing/{{stockId}}" expand="block" fill="solid">
        Manually Sell Item
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-modal [isOpen]="transferModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Warehouses</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="transferModalOpen = false"><ion-text color="danger">
            Close
          </ion-text></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ng-container *ngFor="let warehouse of warehouses" >
          <ion-item detail button (click)="setWarehouse(warehouse)">
            <ion-label>{{warehouse.location}}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="saleModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Sell Scanned Item</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="saleModalOpen = false">
            <ion-text color="danger">
              Close
            </ion-text>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="billingForm" (ngSubmit)="sellItem()">
        <ion-list>
          <ion-segment value="full" mode="ios" (ionChange)="modeChanged($event)">
            <ion-segment-button value="full">
              <ion-label>Full</ion-label>
            </ion-segment-button>
            <ion-segment-button value="partial">
              <ion-label>Partial</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-item>
            <ion-label position="floating">Customer Name</ion-label>
            <ion-input formControlName="customerName" placeholder="Customer Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Customer Phone</ion-label>
            <ion-input formControlName="customerPhone" placeholder="Customer Phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Customer Address</ion-label>
            <ion-textarea formControlName="customerAddress" placeholder="Customer Address"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Customer Email</ion-label>
            <ion-input formControlName="customerEmail" type="email" placeholder="Customer Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Customer GST</ion-label>
            <ion-input formControlName="customerGST" placeholder="Customer GST"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input formControlName="price" type="number" placeholder="Discount"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Discount</ion-label>
            <ion-input formControlName="discount" type="number" placeholder="Price"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tax</ion-label>
            <ion-input formControlName="tax" type="number" placeholder="Tax"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" fill="solid">
            Submit
          </ion-button>
        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>