<app-header title="Product Details"></app-header>
<ion-content>
  <div class="">
    <div class="img-outer mx-4 mt-4" *ngIf="currentStockData?.img">
      <img [src]="currentStockData?.img" alt="">
    </div>
    <div class="px-4">
      <h2 class="Nunito500 py-2">{{currentStockData?.name}}</h2>
      <h3 class="Nunito700 t-blue">Rs {{currentStockData?.price}}</h3>
    </div>
    <div class="Nunito500 fs-13 py-3 px-4">
      <div>Product Code <span class="Nunito700">{{currentStockData?.id}}</span></div>
      <div>Created Date <span class="Nunito700">{{currentStockData?.date.toDate() | date}}</span></div>
    </div>
    <div class="border"></div>
    <div class="px-4 py-3 d-flex justify-content-evenly align-items-center ">
      <button class="Nunito600 " routerLink="../../edit-stock/{{stockId}}"><span uk-icon="icon: file-edit"></span> Edit
        Product</button>
    </div>
    <div class="border"></div>
    <ion-list>
      <ion-item *ngFor="let key of dataKeys">
        <ion-label>{{key | titlecase}}</ion-label>
        <ion-label *ngIf="key.toLowerCase() !='date'" color="primary">{{currentStockData[key]}}</ion-label>
        <ion-label *ngIf="key.toLowerCase() =='date'" color="primary">{{currentStockData[key].toDate() | date}}</ion-label>
      </ion-item>
    </ion-list>
    <div class="px-4 pt-4">
      <ion-button routerLink="../../billing/{{stockId}}" expand="block" fill="solid">
        Sell Item
      </ion-button>
      <!-- <ion-button expand="block" fill="solid">
        Sell Item
      </ion-button> -->
    </div>
  </div>
</ion-content>