<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/settings">
      <ion-menu-button auto-hide="false">
        <img class="ms-2" src="assets/icon/headerIcon1].svg" alt="">
      </ion-menu-button>
    </ion-buttons>
    <ion-title><img width="70px" src="assets/icon/Logo.png"></ion-title>
    <ion-buttons slot="end" routerLink="/notification">
      <ion-menu-button auto-hide="false">
        <img class="me-2" src="assets/icon/Notification.svg" alt="">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3 d-flex  align-items-center">
    <ion-avatar>
      <img [src]="this.dataProvider?.user?.photoURL" />
    </ion-avatar>
    <div class="ms-3">
      <div class="Nunito700 fs-18">Welcome <span class="t-blue">{{this.dataProvider?.user?.displayName}}</span></div>
      <a routerLink="/profile" class="Fredoka400 fs-14 t-blue">View Profile</a>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center searchbar mb-3 px-3">
    <input type="text" class="searchBox me-2 Nunito500" placeholder="Anything can search">
  </div>
  <div class="d-flex align-items-center justify-content-between px-3">
    <div class="homeCard" routerLink="/add-stock">
      <div class="outer-img">
        <img src="assets/illustrations/addStock0.png" alt="">
      </div>
      <b class="Nunito500 fs-16 pt-3">Add Stock</b>
    </div>
    <div class="homeCard" routerLink="../stock-list">
      <div class="outer-img">
        <img src="assets/illustrations/allProduct0.png" alt="">
      </div>
      <div class="Nunito500 fs-16 pt-3">Stocks</div>
    </div>
    <div class="homeCard" routerLink="/sales-history">
      <div class="outer-img">
        <img src="assets/illustrations/sales0.png" alt="">
      </div>
      <div class="Nunito500 fs-16 pt-3">Sales</div>
    </div>
  </div>
  <ol>
    <li *ngFor="let printer of printers">
      <i>{{ printer.name }}</i>
      <b>{{ printer.address }}</b>
    </li>
  </ol>
  <div class="p-3">
    <canvas id="myChart"></canvas>
  </div>
  <div class="d-flex justify-content-between align-items-center px-3 mt-4">
    <div class="me-2 card-shadow p-3">
      <div class="d-flex align-items-center">
        <div><img src="assets/icon/totalCustumer.png" alt=""></div>
        <div class="ms-3 Nunito500 t-green fs-14">+2.40%</div>
      </div>
      <div class="fs-24 Nunito700">1,234</div>
      <div class="Nunito500 fs-10">Total Custumer</div>
    </div>
    <div class="ms-2 card-shadow p-3">
      <div class="d-flex align-items-center">
        <div><img src="assets/icon/totalCustumer.png" alt=""></div>
        <div class="ms-3 Nunito500 t-green fs-14">+2.40%</div>
      </div>
      <div class="fs-24 Nunito700">1,234</div>
      <div class="Nunito500 fs-10">Total Custumer</div>
    </div>
  </div>
  <div class="Nunito700 fs-22 px-3 mt-4">Most sold</div>
  <div class="px-3 my-3">
    <app-sales-card *ngFor="let sale of allSales" [Id]="sale.id" [Name]="sale?.Name" [img]="sale?.img"
      [Quantity]="sale?.Quality" [id]="sale?.productId"></app-sales-card>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" routerLink="/add-stock">
        <ion-icon name="cube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" routerLink="/add-purchase">
        <ion-icon name="wallet"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="globalSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>