<app-header title="Billing"></app-header>
<ion-content>
  <div class="Nunito600 fs-17 mt-5 mb-3 px-3">Billing Address</div>
  <div class="px-3">
    <form [formGroup]="billingForm"  (ngSubmit)="billing()">
      <div class="uk-margin">
        <label for="" class="Fredoka400 fs-14">Name</label>
        <input class="input" type="text" placeholder="Enter Your Name" formControlName="userName">
      </div>
      <div class="uk-margin">
        <label for="" class="Fredoka400 fs-14">Email</label>
        <input class="input" type="email" placeholder="Enter Your Email" formControlName="userEmail">
      </div>
      <div class="uk-margin">
        <label for="" class="Fredoka400 fs-14">Address</label>
        <textarea class="inputTextarea" type="email" placeholder="Enter Your Email" cols="4" formControlName="useraddress"></textarea>
      </div>
      <button class="btn-addStock mb-3" type="submit">Sell</button>
    </form>
  </div>
  
  <div class="border"></div>
  <div class="Nunito600 fs-17 mt-3 mb-3 px-3">Billing Summary</div>
  
  <div class="px-3">
    <ion-label>Number of pieces:</ion-label>
    <ion-range [ticks]="true" [pin]="true" [snaps]="true" [min]="0" [max]="10" [(ngModel)]="numberOfPieces"></ion-range>
  </div>
  <div class="pt-2 ">
    <ion-item *ngIf="currentStockData?.Name">
      <ion-label>Name:</ion-label>
      <ion-label>{{currentStockData?.Name}}</ion-label>
    </ion-item>
    <ion-item *ngIf="currentStockData?.id">
      <ion-label>Product Code:</ion-label>
      <ion-label>{{currentStockData?.id}}</ion-label>
    </ion-item>
    <ion-item *ngIf="currentStockData?.Quality">
      <ion-label>Quality:</ion-label>
      <ion-label>{{currentStockData?.Quality}}</ion-label>
    </ion-item>
    <ion-item *ngIf="currentStockData?.Shade">
      <ion-label>Shade:</ion-label>
      <ion-label>{{currentStockData?.Shade}}</ion-label>
    </ion-item>
    <ion-item *ngIf="currentStockData?.Backing">
      <ion-label>Backing:</ion-label>
      <ion-label>{{currentStockData?.Backing}}</ion-label>
    </ion-item>
    <ion-item *ngIf="currentStockData?.Length">
      <ion-label>Dimensions:</ion-label>
      <ion-label>{{currentStockData?.Width}} X {{currentStockData?.Length}} X {{currentStockData?.Thickness}}</ion-label>
    </ion-item>

  </div>
  <div class="px-3">
    <app-stock-list-card [img]="currentStockData?.img" [Name]="currentStockData?.Name" [Price]="currentStockData?.Price" [Id]="currentStockData?.id"></app-stock-list-card>
  </div>
</ion-content>