<ion-app>
  <!-- <div class="spin" *ngIf="loading">
    <ion-spinner name="crescent" ></ion-spinner>
  </div> -->
  
    <ion-router-outlet></ion-router-outlet>
    <div class="py-2 " *ngIf="this.dataProvider.LoggedInUser === true">
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="schedule" routerLink="homepage">
            <ion-icon name="home"></ion-icon>
            <ion-label>Homepage</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="speakers" routerLink="profile">
            <ion-icon name="cube-outline"></ion-icon>
            <ion-label>Warehouse</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="about" routerLink="profile">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-label>Stocks</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>
</ion-app>