<!-- <ion-header>
  <ion-toolbar>
    <ion-title>get-started</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div  class="get-started-text">
    <div>
      <img src="../../assets/images/welcomeImg.png" alt="">
    </div>
    <div  class="get-started-text ion-padding-bottom">
      <div class="get-started-text text-grey">
        <div>Dedicated <span class="text-blue">Warehouse</span></div>
        <div><span class="text-blue">Manager</span> Application</div>
      </div>
      <button class="btn-getStarted" routerLink="../login">Get-started</button>
    </div>
  </div>
</ion-content>