form{
    width:100%;
    margin-bottom: 50px;
}
ion-button{
    margin-top: 40px;
}
h2{
    margin-left: 10px;
}
ion-slide{
    display: flex;
    flex-direction: column;
}
ion-list{
    width: 100%;
}