<ion-content>
  <h2 class="header">Profile</h2>
  <div class="col-md-3 border-right">
<h3 style="margin: 15px; color: royalblue;">Hello Raj</h3>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span> </span></div>
        </div>
        <div>
          <div class="row mt-3">
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="Full Name" value=""></div>
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="Phone Number" value=""></div>
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="Address" value=""></div>
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="Email Address" value=""></div>
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="Birthdate" value=""></div>
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="Gender" value=""></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
        </div>
</ion-content>
