.header {
    text-align: center;
    margin: 15px auto;
}
.col-md-12 {
    padding-right: 20px;
    padding-left: 20px;
}
.form-control {
        width: 100%;
    padding: 12px 15px;
    margin-bottom: 18px;
    border-radius: 10px;
}
.profile-button {
    background: blue;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    color: white;
}
.rounded-circle {
    display: block;
  margin: 0px auto 0px auto !important;
}
.text-center {
    padding: 0% 20% 0% 20% !important;
    margin: 0px !important;
}