<app-header title="Product List"></app-header>


<ion-content>
  <div class="px-3 mt-4">
    <div class="d-flex align-items-center justify-content-center searchbar">
      <input (input)="debounceSearch($event)" type="text" class="searchBox me-2 Nunito500" placeholder="Seach Product">
      <button id="open-modal" class="filter-btn" expand="block">Filter</button>
    </div>

    <div class="spin" *ngIf="loading">
      <ion-spinner name="crescent" ></ion-spinner>
    </div>
    <p>Showing {{this.filteredStocks.length>0 ? 'filtered' : 'all'}} stocks</p>
    <app-stock-list-card *ngFor="let stock of this.filteredStocks.length>0 ? this.filteredStocks : stocks"
      [img]="stock?.img" [Name]="stock?.Name" [Price]="stock?.Price" [Id]="stock?.id"></app-stock-list-card>
  </div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="0.75"
    [breakpoints]="[0.75, 1.0]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()" [strong]="true">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="d-flex justify-content-between align-items-center">
          <div class="Nunito500 fs-15">Filter</div>
          <div class="Nunito500 fs-15 t-grey">Clear Filter</div>
        </div>
        <div class="py-3">
          <div class="Nunito500 fs-14">Price</div>
          <ion-range (ionChange)="log($event)" debounce="300" [dualKnobs]="true"  [ticks]="true" [snaps]="true" [min]="0" [max]="10"  [pin]="true" [pinFormatter]="pinFormatter"></ion-range>
          <div>
            <input type="text" [value]="upper" class="inputFilter">
            <input type="text" [value]="lower" class="inputFilter ms-3">
          </div>
        </div>
        <div class="border"></div>
        <div class="py-3" *ngFor="let filter of filters">
          <div class="Nunito500 fs-14">{{filter.title}}</div>
          <ion-chip *ngFor="let selection of filter.items" [outline]="true" color="primary" (click)="selection.active = !selection.active; filterOptions()" [ngClass]="{'chipColour1': selection.active === false, 'chipColour2' : selection.active === true }">{{selection.value}}</ion-chip>
        </div>
        <div class="border"></div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>