<ion-content>
  <div class="login-box">
    <div class="login-box-top uk-margin-medium-bottom">
      <div class="fs-24 Fredoka500 uk-margin-medium-top uk-margin-medium-bottom">LOGo</div>
      <div class="fs-24 Fredoka500 t-blue">Welcome Back</div>
      <div class="fs-16 Nunito500">Please Enter your Details</div>
    </div>
    <div class="login-box-bootom">
      <form [formGroup]="signupForm" (ngSubmit)="signUpWithEmailAndPassword()">
        <div class="uk-margin">
          <label for="" class="Fredoka400 fs-16 ">Name</label>
          <input class="input" type="text" placeholder="Enter your Name"  formControlName="username">
        </div>
        <div class="uk-margin">
          <label for="" class="Fredoka400 fs-16 ">Email</label>
          <input class="input" type="email" placeholder="Enter your Email"  formControlName="email">
        </div>
        <div class="uk-margin">
          <label for="" class="Fredoka400 fs-16">Password</label>
          <input class="input" type="password" placeholder="Enter Your Password"  formControlName="password">
        </div>
       
        <div class="Fredoka400 fs-16 t-grey" routerLink="/login"> *If already have an Account <span class="t-blue">Login</span></div>
        
        <div>
          <button class="login-btn">Sign Up</button>
        </div>
      </form>
  
      <div class="or"></div>
  
      <div class="uk-flex uk-align-center uk-flex-center">
        <img class="uk-padding-small" src="assets/icon/google.png" alt="">
        <img class="uk-padding-small" src="assets/icon/facebook.png" alt="">
        <img class="uk-padding-small" src="assets/icon/twitter.png" alt="">
      </div>
  
    </div>
  </div>
</ion-content>
