.header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.back {
    padding-left: 10px;
    position: absolute;
    left: 3px;
    top: 7px;
}

.text-header {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
}

hr{
    width: 100%;
    border: 1px solid #E5E5E5;
    margin:20px 0px;
    height: 0px;
}