<app-header title="Settings"></app-header>
<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <ion-spinner name="crescent" *ngIf="!imageLoaded"></ion-spinner>
      <img [src]="dataProvider.user?.photoURL" (load)="imageLoaded=true" />
    </ion-avatar>
    <ion-label>{{dataProvider.user?.displayName || dataProvider.user?.email}}</ion-label>
  </ion-item>
  <ion-list>
    <h4>&nbsp;&nbsp;Account Settings</h4>
    <ion-item detail lines="none" button routerLink="../profile">
      <ion-label>Edit Profile</ion-label>
    </ion-item>
    <!-- <ion-item detail lines="none" button>
      <ion-label>Push Notifications</ion-label>
    </ion-item> -->
    <ion-item detail lines="none" button routerLink="../printer-settings">
      <ion-label>Printer Settings</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="logoutPopUp()" color="danger" expand="block" fill="clear" shape="round">
    <ion-icon slot="start" name="log-out"></ion-icon>
    Logout
  </ion-button>
</ion-content>